{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block title %}
    Вход
{% endblock title%}

{% block content %}
    <h2>Вход</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Войти</button>
    </form>

    <br>

    <h2>Log In with:</h2>
    <a href="{% provider_login_url 'github' %}">
        <img src="{% static 'images/login_with_github.png' %}" alt="Log In with GitHub" style="width:300px;height:80px;">
    </a>
    <br>
    <a href="#">
        <img src="{% static 'images/login_vk_2.jpg' %}" alt="Log In with VK" style="width:290px;height:50px;">
    </a>


{% endblock content%}